@using System.Web.Optimization
@model MvcPL.Models.UploadAdViewModel
@{
    ViewBag.Title = "UploadPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SearchForm
{
    @Html.Partial("_SearchFormAuthRedirectToHome")
}

@section body
{
    @using (Html.BeginForm("MakeAdFeatures", "Profile", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="container container-photo">
            <div class="form-group row justify-content-center">
                <label class="col-form-label uploadLabel">If nothing is selected that means that all variants can include.</label>
            </div>
            <div class="form-group row justify-content-center">
                @Html.LabelFor(m => m.Countries, new {@class = "col-form-label uploadLabel col-md-1"})
                <div class="col-md-3">
                    @Html.DropDownList("DdlCountries", (MultiSelectList) ViewBag.Countries, new {multiple = "multiple", style = "height:250px;"})
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(m => m.Sex, new {@class = "col-form-label uploadLabel col-md-1"})
                <div class="col-md-3">
                    @Html.DropDownList("DdlSex", (MultiSelectList) ViewBag.Sex, new {multiple = "multiple", style = "height:50px; width: 100px;"})
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(m => m.Age, new {@class = "col-form-label uploadLabel col-md-1"})
                <div class="col-md-3">
                    @Html.DropDownList("DdlAgeBegin", (MultiSelectList) ViewBag.AgeBegin, new {style = "height:30px;"})
                    &nbsp;
                    @Html.DropDownList("DdlAgeEnd", (MultiSelectList) ViewBag.AgeEnd, new {style = "height:30px;"})
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(m => m.Language, new {@class = "col-form-label uploadLabel col-md-1"})
                <div class="col-md-3">
                    @Html.DropDownList("DdlLanguage", (MultiSelectList) ViewBag.Languages, new {multiple = "multiple", style = "height:120px; width: 100px;"})
                </div>
            </div>
            <input type="submit" class="btn signUpButton" id="CreateButton" value="Create"
                   style="margin-top: 16px">
        </div>
    }
}
